<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
  <script type="text/javascript" charset="utf-8">
      $(document).ready(function(){
          var socket = io.connect();
          socket.on('chatting', function(msg) {
              var date = new Date();
              $('#message').append('<p>對方傳來: ' + msg.message + " 時間:"+ date+ '</p>');
          });
          $('#send').on('click', function(event) {
               socket.emit('chatting', { message: $('#data').val() });
           });
      });
  </script>
</head>
<body>
<input id="data" type="text"><input id="send" type="button" value="送出">
<div id="message">
</div>
</body>
</html>